/* reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* chỉnh font chữ */
html{
    font-family: Arial, Helvetica, sans-serif;
}

.white-text{
    color: #fff !important;
}

.clear{
    clear: both;
}

.col {
    float: left;
    padding: 0 8px;
}

.row {
    margin: 0 -8px;
}

.row-padding {
    padding-top: 32px;
}

.col-third {
  width: calc(100% / 3);
}

 .col.col-half {
    text-align: center;
} 

.col.col-half.contact-in4 {
    text-align: unset;
}

.col-half {
  width: 50%;
}

.col-full {
    width: 100%;
}

/* 1.Từ ngoài vào trong
   2.Từ trên xuống dưới
   3.Từ tổng quan đến chi tiết */

/* 1.Vị trí
   2.Kích thước
   3.Màu sắc
   4.Hình dạng( font chữ,..) */

#main { 

}

/* NAV & HEADER */

#header {
    height: 46px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#header .ti-angle-double-down {
    font-size: 12px;
}

#nav {
    /* bỏ khoảng cách giữa các block */
     display: inline-flex;
}

#nav li {
    /* bỏ gạch đầu dòng */
    list-style-type: none;
    position: relative;
}

#nav > li > a {
    /* xếp thành hàng ngang và viết hoa đối với lis f1 */
    display: inline-block;
    text-transform: uppercase;
}

#nav li a {
    /* căn cho chữ vào giữa header */
    line-height: 46px;
    padding: 0px 24px;
    color: white;
    /* bỏ gạch dưới chữ */
    text-decoration: none;
     /* cho chiều rộng của tag a = tag li  */
     display: block; 
}

.supnav li:hover a
,#nav > li:hover > a {
    color: black;
    background-color: #ccc;
}

#nav .supnav li a {
    color: black;
    padding: 0px 12px;
    line-height: 38px;
}

#nav li:hover .supnav {
    /* hiện lis f2 */
    display: block;
}

#nav .supnav {
    min-width: 160px;
    display: none; 
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 100%;
    left: 0;
    
}

#header .search-btn {
   float: right;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    font-size: 20px;
    color: white;
    padding: 0px 21px;
    line-height: 46px;
}

/* SLIDER */

#slider {
    margin-top: 46px;
    padding-top: 36%;
    position: relative ;
}

#slider .slider-img{  
    width: 100%;
    padding-top: 36%;
    background-image: none; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; 
    
}

#slider > * {
    visibility: hidden; 
    position: absolute;
    top: 0; left: 0; 
    animation: autoplay1 20s infinite;
    -o-animation: autoplay1 20s infinite;
    -moz-animation: autoplay1 20s infinite;
    -webkit-animation: autoplay1 20s infinite;

}
    
#slider > *:nth-child(1) {animation-delay: 0s}
#slider > *:nth-child(2) {animation-delay: 4s}
#slider > *:nth-child(3) {animation-delay: 8s}
#slider > *:nth-child(4) {animation-delay: 12s}
#slider > *:nth-child(5) {animation-delay: 16s}

#slider:hover .slider-img {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    -o-animation-play-state: paused;
    -moz-animation-play-state: paused;
}

@keyframes autoplay1 {
    0% {visibility: visible}
    20% {visibility: hidden}
}

@-moz-keyframes autoplay1 {
    0% {visibility: visible}
    20% {visibility: hidden}
}

@-o-keyframes autoplay1 {
    0% {visibility: visible}
    20% {visibility: hidden}
}

@-webkit-keyframes autoplay1 {
    0% {visibility: visible}
    20% {visibility: hidden}
}

/*  ABOUT */

#content .content-section {
    width: 800px;
    padding: 64px 16px 94px;
    margin-left: auto;
    margin-right: auto;
    
}

#content .section-heading{
    font-size: 30px;
    margin: 10px 0;
    letter-spacing: 5px;
    font-weight: 300;
    text-align: center;
}

#content .section-sub-heading{
    font-size: 15px;
    margin: 15px 0;
    opacity: 0.6;
    font-style: italic;
    text-align: center;
}

#content .content-text{
    font-size: 15px;
    margin: 15px 0;
    line-height: 1.4;
    text-align: justify;
    
}

#content .member-name a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#content .member-name {
    font-size: 15px;
    margin: 15px 0;
}

.member-name a {
    text-decoration: none;
    color: black;
}

#content .member-ava{
    width: 154px;
    border-radius: 4px;
}

/* PRODUCT */

.product-section{
    background-color: #000;
}

.product-list {
    background-color: #fff;
    list-style: none;
    margin-top: 35px;
}

.product-list li {
    border-bottom: 1px solid #ccc;
    color: #757575;
    padding: 10px 16px;
    font-size: 15px;

}

.product-list .process {
    background-color: #f44336;
    color: white;
    padding: 1px 6px;
    float: right;
    font-size: 15px;
    border-radius: 4px;
}
.product-list .processed {
    background-color: #000;
    color: white;
    padding: 1px 6px;
    float: right;
    font-size: 15px ;
    border-radius: 4px;
}
    /* PRD Order  */

.prd-item {
    padding: 32px 8px;
    width: calc(100% / 3);
    float: left;
}


.prd-img {
    display: block;
    width: 100%;
    max-height: 245.33px;
}

.prd-body{
    padding: 15px 16px;
    background-color: #fff;
    font-size: 15px;
}

.prd-name {
    font-weight: 545;
}

.prd-time {
    margin: 15px 0;
    color: #757575;
}

.prd-img:hover{
    opacity: 0.6;
}

.prd-desc {
    margin: 15px 0;
    line-height: 1.6;
    
}

.buy-btn {
    padding: 10px 15px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: none;
}

.buy-btn:hover{
    background-color: #ccc;
    color: black;
}

/* CONTACT */

.contact-in4 {
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
}

.icon {
    display: inline-block;
    width: 30px;
}

.form-in4 {
    padding: 11px 8px;
    font-size: 15px;
    width: 100%;
    border: 1px #ccc solid;
}

.form-in4-row {
    margin-bottom: 8px;
}

.message-row {
    margin-bottom: 16px;
}

.send-btn {
    background-color: black;
    color: white;
    font-size: 15px;    
    padding: 11px 15px;
    float: right;
    border: none;
}

.send-btn:hover {
    color: black;
    background-color: #ccc;
    cursor: pointer;
}

#footer {
    padding: 32px 16px;
    text-align: center;
} 

.social-link a {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.social-link a i {
    width: 30px;
    display: inline-block;
}

#footer a:hover {
    color: rgba(0, 0, 0, 0.4);

}

.copyright {
    padding: 10px 0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}

.copyright a {
    padding: 15px 0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}

.teamphoto img{
    width: 100%;
}

.modal {
    position: fixed;
    top: 0;bottom: 0;right: 0;left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    font-size: 15px;
    z-index: 2;
} 

.modal.open{
    display: flex;
}

.modal-container{
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 470px;
    background-color: white;
    color: black;
    position: relative;
    animation: showBT 1s ease;
    -moz-animation: showBT 1s ease;
    -webkit-animation: showBT 1s ease;
    -o-animation: showBT 1s ease;
}

.modal-header{
    background-color: lightcoral;
    color: white;
    font-size: 30px;
    padding: 47px 0;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.modal-header .bag-icon{
    padding-right: 14px;
}

.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    color: white;
}

.modal-close:hover{
    cursor: pointer;
    color: black    ;
}

.modal-body{
    padding: 0 16px;
}
.modal-label{
    display: block;
    padding-top: 32px;
    padding-bottom: 12px;
}

.model-input {
    padding: 0 8px;
    width: 100%;
    line-height: 38px;
    border: 1px #ccc solid;
    font-size: 15px;
}

.pay-btn {
    width: 100%;
    border: none;   
    color: white;
    margin: 16px 0;
    font-size: 16px;
    line-height: 54px;
    text-transform: uppercase;
    background-color: lightcoral;
}

.pay-btn:hover{
    opacity: 0.8;
    cursor: pointer;
}

.modal-footer {
    text-align: right;
    padding: 15px 16px;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes showBT {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-moz-keyframes showBT {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes showBT {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-o-keyframes showBT {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
